# Node
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env files
.env
.env.*
!.env.example

# Logs
logs/
*.log

# Build outputs
coverage/
dist/
build/

# OS/editor
.DS_Store
.vscode/
.idea/
